.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  @media screen and (min-width: 768px) {
    width: 120%;
    gap: 200px;
  }
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 100vh;
  position: relative;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 40px;
    height: 50vh;
  }
}

.projectReverse {
  @extend .project;
  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
  }
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  gap: 20px;
  h3 {
    color: var(--pink);
  }

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    min-height: 250px;
  }
}

.links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.imageStructure {
  min-width: 48%;
  max-width: 48%;
  height: fit-content;
}

.image {
  @extend .imageStructure;
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.imageMobile {
  @extend .imageStructure;
  position: absolute;
  max-width: none;
  z-index: -1;
  filter: brightness(0.3) opacity(0.8) blur(2px);
  height: 100%;
  width: 100vw;
  img {
    object-position: top;
  }
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}
