.carousel {
  width: 100%;

  > * {
    box-sizing: border-box;
  }
}

.image {
  width: 100%;
  height: auto;
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.imageMobile {
  width: 100%;
  height: auto;
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}
