.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  z-index: 10;
  @media screen and (min-width: 768px) {
    gap: 50px;
    width: 120%;
  }
}

.announce {
  margin-bottom: -10px;
  margin-top: -10px;
  @media screen and (min-width: 768px) {
    margin-top: -50px;
  }
}

.filterContainer {
  align-items: center;
  background-color: var(--transparent-black);
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: relative;
  width: 100%;
  z-index: 10;
}

.sticky {
  @extend .filterContainer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.projectsGrid {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
  width: 100%;

  @media screen and (min-width: 768px) {
    gap: 60px;
    grid-template-columns: 1fr 1fr;
    width: 120%;
  }
}
