.wrap {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: var(--orange) 2px solid;
  padding: 10px 20px;

  p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: auto;
    }
  }
}
