@import "@styles/animations";
.structure {
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  margin: 5% 7% 5%;
  padding: 3%;
  position: relative;
  text-align: center;
  //background-color: #0a0a0a;
  transition: opacity 500ms ease, transform 100ms ease;
  @media screen and (min-width: "768px") {
    margin: 5% 4% 5%;
    text-align: left;
  }
}

.section {
  @extend .structure;
}

.sectionReversed {
  @extend .structure;
}
.sectionWider {
  @extend .structure;
  @media screen and (min-width: "768px") {
    margin: 2%;
  }
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: center;
  @media screen and (min-width: "768px") {
    flex-direction: row;
    justify-content: space-around;
  }
}

.contentReversed {
  @extend .content;
  @media screen and (min-width: "768px") {
    flex-direction: row-reverse;
  }
}

.title {
  color: var(--orange);
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
  text-shadow: 0 0 5px var(--orange);
  -webkit-text-stroke: 1px var(--transparent-black);
  text-transform: uppercase;

  @media screen and (min-width: "768px") {
    font-size: 2.6rem;
    margin: 0 5% 5%;
  }
}

.titleReversed {
  @extend .title;
  @media screen and (min-width: "768px") {
    text-align: right;
  }
}

.children {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: "768px") {
    width: 90%;
  }
}

.svg {
  transition: transform 500ms;
  z-index: 2;
  @media screen and (min-width: "768px") {
    align-self: start;
    align-self: flex-start;
    align-self: self-start;
  }
  &:hover {
    transform: scale(1.1);
  }
}

.move {
  -webkit-animation: moving 1s ease-in-out 2 alternate;
  animation: moving 1s ease-in-out 2 alternate;
}

.jump {
  -webkit-animation: jump 2s linear;
  animation: jump 2s linear;
}

.titleParagraph {
  color: var(--orange);
}

.contentParagraph {
  @extend .content;
}

.childrenParagraph {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.model {
  height: fit-content;
  max-width: 50%;
}
