$dimCorner: 7px;
.terminalWrap {
    align-items: center;
    display: flex;
    height: 40vh;
    justify-content: center;
    margin: 25px;
    min-width: fit-content;
    position: relative;
    width: 90vw;
    @media screen and (min-width: '768px') {
        height: 40vh;
        margin: 25px 25px 0;
        width: 40vw;
    }
}

.terminal {
    background: #000000dd;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 10px var(--black);
    height: 100%;
    min-height: -webkit-fill-available;
    min-width: fit-content;
    overflow: hidden;
    position: absolute;
    touch-action: pan-x pan-y;
    transition: transform 300ms ease-in-out, height 300ms ease-in-out, width 300ms ease-in-out, opacity 300ms ease-in-out;
    width: 100%;
    z-index: 1;
    .brCorner {
        bottom: 0;
        cursor: nwse-resize;
        height: $dimCorner;
        position: absolute;
        right: 0;
        width: $dimCorner;
        z-index: 4;
    }
    .rLine {
        cursor: ew-resize;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: $dimCorner;
        z-index: 2;
    }
    .bLine {
        bottom: 0;
        cursor: ns-resize;
        height: $dimCorner;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 2;
    }
}

.top {
    background: var(--transparent-white);
    border-radius: 5px 5px 0 0;
    color: var(--black);
    cursor: grab;
    padding: 5px;
    touch-action: none;
}

.buttons {
    position: absolute;
    right: 5px;
    top: 7px;
}

.circle {
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 12px;
    margin-right: 4px;
    width: 12px;
    z-index: 1;
}

.title {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    justify-content: center;
    text-align: center;
    >* {
        font-size: 0.8rem;
        font-weight: 100;
        @media screen and (min-width: '768px') {
            font-size: 1rem;
        }
    }
    h1 {
        margin: 0 0.5rem 0;
    }
}

.circleRed {
    @extend .circle;
    // background: #ec6a5f;
    // border-color: #d04e42;
    border-color: #ffffff26;
    cursor: pointer;
    // &:hover {
    //   background: #d04e42;
    // }
}

.circleGreen {
    @extend .circle;
    // background: #64cc57;
    // border-color: #4ea73b;
    border-color: #ffffff26;
    cursor: pointer;
    // &:hover {
    //    background: #4ea73b;
    // }
}

.circleYellow {
    @extend .circle;
    // background: #f5c04f;
    // border-color: #d6a13d;
    border-color: #ffffff26;
    cursor: pointer;
    // &:hover {
    //   background: #d6a13d;
    // }
}

.content {
    display: flex;
    flex-direction: column;
    height: 80%;
    margin: 0;
    max-width: 100vw;
    overflow-y: scroll;
    padding: 8px;
    transition: height 300ms ease-in-out, opacity 300ms ease-in-out, width 300ms ease-in-out;
    width: 96%;
    /* width */
     ::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        background: none;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: var(--transparent-white);
        border-radius: 1px;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: var(--white);
    }
}