@import '../../styles/animations';
.wrap {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.skills {
  width: 90%;
  height: 70vh;
  margin: auto;
  position: relative;
}

.skillWrap {
  position: absolute;
  //align center position absolute
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  transition: transform 1s ease-out;
}

.range {
  width: 90%;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: var(--transparent-orange);
  border-radius: 5px;
  border: 0;
  margin: 20px auto;
  padding: 0;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--orange);
    cursor: pointer;
  }
  &::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--orange);
    cursor: pointer;
  }
}
