.footerWrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 100px;
  margin-top: 50px;
  width: 100%;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.icons {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  @media screen and (min-width: 768px) {
    width: 40%;
  }
  .iconWrap {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    transition: all 0.3s ease;
    width: 100px;
    .icon {
      transition: fill 100ms;
      &:hover {
        fill: var(--orange);
      }
    }
  }
}

.contacts {
  margin-bottom: 50px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
