@import "@styles/animations";
.heading {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 95vh;
  justify-content: space-evenly;
  margin: auto;
  // mix-blend-mode: difference;
  text-align: center;
  width: 85vw;
  > * {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3rem;
    @media screen and (min-width: "768px") {
      font-size: 2.68rem;
      line-height: 4rem;
    }
    @media screen and (min-width: "1024px") {
      font-size: 3.5rem;
      line-height: 4.7rem;
    }
  }
  @media screen and (min-width: "1024px") {
    font-size: 3.8rem;
    line-height: 5rem;
  }
}
