@import '../../styles/animations';
$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);
.navDesktop {
  display: none;
  @media (min-width: 768px) {
    //animation: slideIn 1000ms ease-out;
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    gap: 30px;
    justify-content: space-evenly;
  }
}

.navMobile {
  @media (min-width: 768px) {
    display: none;
  }
  align-items: center;
  -webkit-animation: rotateMenu 600ms ease-in-out forwards;
  animation: rotateMenu 600ms ease-in-out forwards;
  background-color: var(--navig-bg-dark);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0;
  position: absolute;
  top: var(--nav-bar-height);
  transform-origin: top center;
  width: 100vw;
  z-index: 5;
  > * {
    margin: 20px;
    padding: 10px;
  }
}

.navMobileLight {
  @extend .navMobile;
  background-color: var(--navig-bg-light);
}
