@import '../../styles/animations';
$breakpoints: ( phone: 480px, tablet: 768px, big-tablet: 1024px, desktop: 1440px, );
.navDesktop {
    display: none;
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        margin-right: 20px;
        //animation: slideIn 1000ms ease-out;
        align-items: center;
        >* {
            margin: 0 10px 0;
        }
    }
}

.navMobile {
    @media (min-width: 768px) {
        display: none;
    }
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 5;
    width: 100vw;
    height: auto;
    left: 0;
    top: var(--nav-bar-height);
    align-items: center;
    justify-content: flex-start;
    background-color: var(--navig-bg-dark);
    -webkit-animation: rotateMenu 600ms ease-in-out forwards;
    animation: rotateMenu 600ms ease-in-out forwards;
    transform-origin: top center;
    >* {
        padding: 10px;
        margin: 20px;
    }
}

.navMobileLight {
    @extend .navMobile;
    background-color: var(--navig-bg-light);
}