@import "@styles/animations";
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  touch-action: pan-x pan-y;
  width: 100%;
}

.skills {
  height: 70vh;
  margin: auto;
  position: relative;
  touch-action: pan-x pan-y;
  width: 90%;
}

.skillWrap {
  bottom: 0;
  height: fit-content;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 1s ease-out;
  width: fit-content;
  will-change: transform;
  &:hover {
    transform: scale(1.1);
    z-index: 999 !important;
  }
}

.neutral {
  text-align: center;
}

.hint {
  @extend .neutral;
  @media (hover: none) and (pointer: coarse) {
    display: none;
  }
}

.hintMobile {
  @extend .neutral;
  @media (hover: hover) and (pointer: fine) {
    display: none;
  }
}
