$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);
.navBar {
  align-items: center;
  background-color: var(--navbar-bg-dark);
  display: flex;
  height: var(--nav-bar-height);
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 5;
  > * {
    padding: 8px;
  }
}

.navigationDesktop {
  @media (max-width: 768px) {
    display: none;
  }
}

.navigationMobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.hamburger {
  margin-left: auto;
  width: fit-content;
  @media (min-width: 768px) {
    display: none;
  }
}

.navBarDesktop {
  @media (max-width: 768px) {
    display: none;
  }
}

.navBarLight {
  @extend .navBar;
  background-color: var(--navbar-bg-light);
}
