.project {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    min-height: 70vh;
  }
}

.projectReverse {
  @extend .project;
  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
  }
}

.head {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 90%;
  justify-content: space-evenly;
  position: relative;
  h3 {
    color: var(--pink);
  }

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    height: fit-content;
    max-width: 40%;
    min-height: 250px;
  }
}

.link {
  fill: var(--transparent-white);
  left: -40px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  top: 15px;
  transition: opacity 400ms ease;
  &:hover {
    opacity: 1;
  }
}

.linkReversed {
  @extend .link;
}

.links {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.imageStructure {
  height: fit-content;
}

.image {
  @extend .imageStructure;
  border-radius: 12.5px;
  width: inherit;
}

.video {
  @extend .image;
  height: auto;
  width: inherit;
}

.media {
  left: 5px;
  position: absolute;
  top: 5px;
  transition: opacity 500ms ease;
}

.desktopWrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  max-width: 55%;
  transition: transform 1s ease-in-out;
  .imageWrap {
    background-color: var(--very-transparent-white);
    border: 2px var(--transparent-white) solid;
    border-radius: 20px;
    display: grid;
    padding: 5px;
    place-items: center;
    position: relative;
    width: 40vw;
  }

  .stand {
    border: 2px var(--transparent-white) solid;
    border-radius: 20px;
    height: 10px;
    width: 200px;
  }
  @media screen and (max-width: 768px) {
    display: none !important;
  }
  @media screen and (max-width: 1024px) {
    max-width: 50%;
  }
}

.imageDesktopWrap {
  align-items: center;

  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;

  perspective: 800px;
  -webkit-perspective: 800px;
  perspective-origin: center;
  transform-style: preserve-3d;
  transition: transform 80ms linear;

  will-change: transform;
}

.imageMobileWrap {
  filter: brightness(0.4) opacity(0.6) blur(2px);
  height: 100%;
  max-height: 100%;
  max-width: none;
  overflow-y: hidden;
  position: absolute !important;
  width: 100vw;
  z-index: -1;
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}

.imageMobile {
  @extend .imageStructure;
  height: 100%;
  max-width: none;
  opacity: 0.6;
  width: 100%;
  img {
    object-position: top;
  }
}

.chipsWrap {
  align-items: center;
  align-self: baseline;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.chipsWrapDesktop {
  @extend .chipsWrap;
  margin-top: 5vh;

  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.chipsWrapMobile {
  @extend .chipsWrap;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}

.chips {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
