.skill {
  background-color: var(--bar-bg1-dark);
  border-radius: 5px;
  padding: 2px 10px 2px;
  box-shadow: 0 0 8px 1px var(--black);
  align-items: center;
  color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  width: fit-content;
  margin: 0.5rem;
  will-change: transform;
  transition: transform 1s ease;
}
