@import '../../styles/animations';
.heading {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  justify-content: space-evenly;
  margin: auto;
  mix-blend-mode: difference;
  text-align: center;
  width: 85vw;
  > * {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem;
    @media screen and (min-width: '768px') {
      font-size: 2.68rem;
      line-height: 4rem;
    }
    @media screen and (min-width: '1024px') {
      font-size: 3.5rem;
      line-height: 4.7rem;
    }
  }
  @media screen and (min-width: '1024px') {
    font-size: 3.8rem;
    line-height: 5rem;
  }
}

.colored {
  animation: gradient 10s ease infinite;
  background: linear-gradient(-45deg, var(--orange), var(--pink), var(--orange), var(--pink));
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 400% 400%;
  text-decoration: none;
  -webkit-text-fill-color: transparent;
  &a {
    text-decoration: none;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.arrowWrap {
  position: relative;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
}

.arrow {
  border-right: 3px solid;
  border-bottom: 3px solid;
  border-left: none;
  border-top: none;
  cursor: pointer;
  height: 50px;
  transform: rotate(45deg);
  width: 50px;
  @media screen and (min-width: 768px) {
    border-right: 5px solid;
    border-bottom: 5px solid;
  }
}

$ani-speed: 2s;
$ani-delay: 1s;
.arrow1 {
  position: absolute;
  top: 0;
  animation: arrow-movement $ani-speed ease-in-out infinite;
  :first-child {
    border-color: var(--orange);
  }
}

.arrow2 {
  position: absolute;
  top: 0;
  opacity: 0;
  animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
  :first-child {
    border-color: var(--pink);
  }
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    transform: translateY(-45%) scale(1.1);
  }
  70% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
