.canvas {
  width: 85vw;
  height: 30vh;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: '768px') {
    width: 40vw;
    height: 80vh;
  }
}
