@import "colors", "scrollbar";
html {
  background-color: var(--black);
  color: var(--white);
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5rem;
  scroll-behavior: smooth;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  @media screen and (min-width: "768px") {
    font-size: 16px;
  }
}

body {
  background-attachment: fixed;
  margin: 0;
  overflow-x: hidden;
  .link {
    background: linear-gradient(to right, var(--transparent-white), var(--transparent-white)),
      linear-gradient(to right, var(--orange), var(--pink));
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px, 0 2px;
    color: inherit;
    text-decoration: none;
    transition: background-size 400ms;
    border: none;
    z-index: 10;
    cursor: pointer;
  }
  .link:hover {
    background-size: 0 2px, 100% 2px;
  }
  .buttonStyle {
    background: none;
    border: 5px groove var(--transparent-orange);
    color: var(--transparent-orange);
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    transition: 100ms;
    font-weight: bolder;
    text-align: center;
    &:hover {
      border: 5px groove var(--orange);
      color: var(--orange);
      transform: scale(1.05);
    }
  }
}
