@import "colors", "scrollbar", "animations";
html {
  background-color: var(--black);
  color: var(--white);
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5rem;
  scroll-behavior: smooth;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  @media screen and (min-width: "768px") {
    font-size: 16px;
  }
}

body {
  background-attachment: fixed;
  margin: 0;
  overflow-x: hidden;
  .link {
    background: linear-gradient(to right, var(--transparent-white), var(--transparent-white)),
      linear-gradient(to right, var(--orange), var(--pink));
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px, 0 2px;
    border: none;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: background-size 400ms;
    z-index: 10;
  }
  .link:hover {
    background-size: 0 2px, 100% 2px;
  }
  .buttonStyle {
    background: none;
    border: 5px groove var(--transparent-orange);
    color: var(--transparent-orange);
    font-weight: bolder;
    margin: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: 100ms;
    &:hover {
      border: 5px groove var(--orange);
      color: var(--orange);
      transform: scale(1.05);
    }
  }

  .artTitle {
    color: var(--orange);
    font-size: 3rem;
    font-weight: lighter;
    line-height: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  .artDescription {
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 4rem 0;
    max-width: 800px;
    padding: 0 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  .coloredGradient {
    animation: gradient 10s ease infinite;
    background: linear-gradient(-45deg, var(--orange), var(--pink), var(--orange), var(--pink));
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 400% 400%;
    cursor: pointer;
    text-decoration: none;
    -webkit-text-fill-color: transparent;
    &a {
      text-decoration: none;
    }
  }
}

.goBack {
  color: var(--pink);
  display: none;
  font-size: 2.5rem;
  left: 2.5rem;
  position: absolute;
  text-decoration: none;
  top: 2.5rem;

  @media screen and (min-width: 768px) {
    display: block;
  }
}
